[tool.poetry]
name = "quiltplus"
version = "0.5.7"
description = "Resource-oriented Python API for Quilt's decentralized social knowledge platform"
authors = ["Ernest Prabhakar <ernest@quiltdata.io>"]
license = "MIT"
readme = "README.md"
keywords = ["yaml", "api", "resource", "quilt"]
packages = [
   { include = "quiltplus" }
]

[tool.poetry.dependencies]
python = "^3.10"
quilt3 = "^5.1.0"
trio = "^0.22.0"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
pre-commit = "^2.21.0"
pytest-trio = "^0.8.0"
pytest-watcher = "^0.2.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
